* {
  box-sizing: border-box;
}

body {
  background-color: #373737;
  padding: 20px;
  margin: 0;
  color: #fff;
}
.hola {
  background-color: aqua;
  border: 2px solid white;
}
.hi {
  background-color: darkblue;
  border: 2px solid brown;
  padding: 10px;
}
button {
  cursor: pointer;
}



